
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.submit-btn {
    width: 100%;
    margin-top: 30px;
}

.footer-area {
    justify-content: center;
    gap: 12px;
}
a{
    text-decoration: none;
}